<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580408848373-126tim352uk1i0c162cjm9g0p99ns31j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580408848373-126tim352uk1i0c162cjm9g0p99ns31j</string>
	<key>API_KEY</key>
	<string>AIzaSyAHm1pFy572PeowE87JtETyvdtw5CoiUas</string>
	<key>GCM_SENDER_ID</key>
	<string>580408848373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helloWorld</string>
	<key>PROJECT_ID</key>
	<string>project1-97e08</string>
	<key>STORAGE_BUCKET</key>
	<string>project1-97e08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580408848373:ios:28415dffb83efe4fad3abc</string>
</dict>
</plist>